* {
    padding: 0;
    margin: 0;
    overflow: hidden;
    
}

html,
body {
    height: 100%;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    overflow-y: auto;
}

#navi {
   
    margin-right: 17px;

}

.gradient {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(22, 158, 218, 1) 0%);
}

.page-header {
    margin-top: 3rem;
    font-size: 10px;
    color: white;
    height: 65%;
    max-width: 100vw;
}

.img-head {
    max-height: 100%;
    height: 100%;
    width: auto;
}

.navbar-color {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(22, 158, 218, 1) 0%);
}


.form-control {
    height: 42px;
    font-size: 18px;
    width: 280px;
}

.input-group {
    max-width: 450px;

}

.button-header {
    margin-left: 10px;
}

hr {
    width: 100vw;
}



.center {
    margin: 50px;
    padding: 10px;
    text-align: center;
    position: relative;
    top: 20%;
    left: 20%;
}

.feature {
    top: 20%;
    left: 20%;
    text-align: center;
}

.form-control-second {
    height: 42px;
    font-size: 18px;
    width: 280px;
    top: 50%;
    left: 50%;

}

.input-group-2 {
    max-width: 650px;
    margin-left: 35rem;


}

.container-email {
    align-items: center;
    justify-content: center;

}

.center-2 {
    margin-bottom: 50px;
    padding-inline-start: 50px;
    text-align: center;
    position: relative;
    top: 20%;
    left: 24%;
}

.phone-image {
    margin-bottom: 10px;
    padding-inline-start: 10px;
    text-align: center;
    position: relative;
    top: 20%;
    left: 20%;
}

.form-control-third {
    height: 42px;
    font-size: 18px;
    width: 280px;
    top: 50%;
    left: 50%;
}

.input-group-3 {
    max-width: 650px;
    margin-left: 26rem;
}

.container-email-2 {
    padding: 20px;
    top: 50%;
    left: 70%;

}

.center-3 {
    margin-top: 3%;
    margin-bottom: 10px;
    padding-inline-start: 10px;
    text-align: center;
    position: relative;
    top: 20%;
    left: 20%;
}

.img-circle {
    border-radius: 50%;
}

.centre-4 {
    flex: auto;

.h4 {
    font-weight: 400;
    font-size: 20px;
}

.form-control-fourth {
    height: 42px;
    font-size: 18px;
    width: 280px;
    top: 50%;
    left: 50%;
}

.input-group-4 {
    max-width: 650px;
    margin-left: 32rem;
}

.container-email-3 {
    padding: 20px;
    top: 50%;
    left: 50%;
}

.contact-center {

    flex: auto;
}

.center-9 {
    padding: 1px;
    margin-right: 10rem;
    position: relative;
    top: 0%;

    left: 10%;
}

.center-10 {

    padding: 1px;
    margin-right: 10rem;
    position: relative;
    top: 0rem;
    left: 10%;
    margin-top: 1rem;

}

.center-11 {
    padding: 1px;
    margin-right: 10rem;
    position: relative;
    top: 0%;
    left: 10%;
}

.center-12 {
    padding: 1px;
    margin-right: 10rem;
    position: relative;
    top: 0%;
    left: 10%;

}

.center-15 {
    padding-top: 0rem;
    margin-top: 1000rem;
}

.button-center {
    padding: 10rem;
    margin-right: 10rem;
    position: relative;
    top: 0rem;
    left: 39rem;
}